*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  
}
body{
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}
.background{
  background:url(/bgFood.jpg);
}
nav ul li a:hover{
  text-decoration: none;
  background-color: goldenrod;
  color: #F8F7F5;
  border-radius: 5px;
}
nav{
  height: 50px;
  width: 100%;
  padding: 20px 0;
}
nav img{
  position: absolute;
}
.container{
  width: 1200px;
  max-width: 85%;
  margin: 0 auto;
}
nav ul{
  display: flex;
  justify-content: flex-end;
  margin: 20px 6px;
}
nav ul li a{
  color: #383838;
  padding: 10px;
  text-transform: uppercase;
}
#foods{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
  padding-bottom: 20%;
}
.foodInfoDiv{
  border: 1px solid goldenrod;
  background-color: #F8F7F5;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  padding: 20px;
  width: 500px;
  margin-left: 32%;
}
.foodDetails{
  align-content: center;
  display: grid;
  grid-template-columns: repeat(1.1fr);
  padding-bottom: 20px;
}
.foodDiv{
  border: 1px solid goldenrod;
  background-color: #F8F7F5;
  margin-left: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px gray;
  padding: 20px;
  text-align: center;
  width: 250px;
}
.foodName{
  font-size: 20px;
  color: black;
  padding-bottom: 20px;
}
.foodText{
  font-size: 40px;
  color: black;
  padding-bottom: 20px;
}
h4{
  font-size: 20px;
  color:red;
  padding-bottom: 20px;
}
.image{
  border: 1px solid goldenrod;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}
.image2{
  border: 1px solid goldenrod;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 300px;
}
#foodDetails{
  display: none;
}
#errorMessage{
  background-color:goldenrod;
  display: none;
}
h2{
  color:#F8F7F5;
}
.errorDiv{
  border: 1px solid #F8F7F5;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  padding: 20px;
  width: 500px;
  margin-left: 32%;
  text-align: center;
}
.btn-pos{
  padding-left: 10px;
  border: none;
  border-radius: 10px solid;
}
.icon{
  font-family: Arial, 'FontAwesome';
  color: red;
}